:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /*font-size: 16px;*/
  /*line-height: 24px;*/
  /*font-weight: 400;*/

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-text-size-adjust: 100%;*/
}

body, main {
  background-color: black;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
}

main {
  background-image: url("https://images.unsplash.com/photo-1482192505345-5655af888cc4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit");
  background-position: center 75%;
  background-size: cover;
  position: relative;
  z-index: 2;
  transition: transform;
  transition-timing-function: ease;
  transition-duration: 300ms;
}

body[data-nav="true"] main {
  transform: translateY(-50%);
}

#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(182 142 113);
  border: none;
  border-radius: 50%;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 300ms;
  cursor: pointer;
  outline: none;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.08);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.92);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: white;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 300ms;
}

#nav-toggle > i .icon-tabler {
  width: 2.5rem;
  height: 2.5rem;
  stroke-width: 0.08rem;
}

body:not([data-nav="true"]) #nav-toggle:hover > i.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.9);
}

body:not([data-nav="false"]) #nav-toggle > i.close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.9);
}

body[data-nav="true"] #nav-toggle > i.close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
}

#nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform;
  transition-timing-function: ease;
  transition-duration: 300ms;
}

body[data-nav="true"] nav > #nav-links {
  transform: translateY(0%) scale(1);
}

#nav-links > .nav-link {
  text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
  color: white;
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
  width: max(20vw, 400px);
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  aspect-ratio: 5/3;
  object-fit: cover;  /* so that images are in proportion to the aspect ratio */
}

#inspiration {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  right: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-transform: uppercase;

  opacity: 0;
  transition: opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

body[data-nav="true"] #inspiration {
  opacity: 1;
}
